In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
!ls *.csv

size.csv
size_b4.csv

In [3]:
df = pd.read_csv("size.csv")
df.dtypes
df.head()

             filename  zone  year  month      bytes
0  Zone18_2009_01.zip    18  2009      1  429762056
1  Zone18_2009_02.zip    18  2009      2  411055451
2  Zone18_2009_03.zip    18  2009      3  442701542
3  Zone18_2009_04.zip    18  2009      4  461746877
4  Zone18_2009_05.zip    18  2009      5  434360607

In [4]:
df[['year','month']]

     year  month
0    2009      1
1    2009      2
2    2009      3
3    2009      4
4    2009      5
5    2009      6
6    2009      7
7    2009      8
8    2009      9
9    2009     10
10   2009     11
11   2009     12
12   2009      1
13   2009      2
14   2009      3
15   2009      4
16   2009      5
17   2009      6
18   2009      7
19   2009      8
20   2009      9
21   2009     10
22   2009     11
23   2009     12
24   2010      1
25   2010      2
26   2010      3
27   2010      4
28   2010      5
29   2010      6
..    ...    ...
186  2016     10
187  2016     10
188  2016     11
189  2016     11
190  2016     12
191  2016     12
192  2017      1
193  2017      1
194  2017      2
195  2017      2
196  2017      3
197  2017      3
198  2017      4
199  2017      4
200  2017      5
201  2017      5
202  2017      6
203  2017      6
204  2017      7
205  2017      7
206  2017      8
207  2017      8
208  2017      9
209  2017      9
210  2017     10
211  2017     10
212  2017     11
213  2017     11
214  2017     12
215  2017     12

[216 rows x 2 columns]

In [6]:
pd.date?

Object `pd.date` not found.